.bg-primary{
    background-color: rgb(142, 148, 180) !important;
}
.masthead-avatar{
    border: 5px solid rgba(255, 255 , 255, 0.9);
}
.img-fluid{
    width: 400px;
    
}
.masthead .masthead-heading {
    font-size: 2.2rem;
 }